/* Configuración para todos los elementos */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Capriola', sans-serif;
}

/* Header - NavBar */
header div.navbar {
    display: flex;
    position: relative;
}

header .navbar button.logo {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    align-items: center;
    justify-content: flex-start;
    transition-duration: .3s;
    border: none;
    border-radius: 50%;
    background: rgba(127, 183, 126, 0.8);
    box-shadow:  0px 0px 10px #abd6c6;
    margin: 10px;
    width: 50px;
    height: 50px;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

header .navbar .logo .sign {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #2A7358;
    width: 100%;
}

header .navbar .logo .text {
    position: absolute;
    right: 0%;
    opacity: 0;
    font-size: 18px;
    color: #FCF8E8;
    width: 0%;
}

header .navbar .logo:hover {
    border-radius: 25px;
    width: 130px;
}
  
header .navbar .logo:hover .sign {
    color: #bde7b4;
    padding-left: 10px;
    width: 30%;
}

header .navbar .logo:hover .text {
    opacity: 1;
    padding-right: 10px;
    transition: 0.8s;
    width: 70%;
}

/* Nav central */
header .navbar div.btn-list {
    display: flex;
    justify-content: center;
    width: 100%;
}

header .navbar .btn-list nav.sup {
    display: flex;
    position: fixed;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    box-shadow:  0px 0px 10px #abd6c6;
    border-radius: 50px 10px 50px 10px;
    margin: 10px;
    width: 450px;
    height: 50px;
}

header .navbar .btn-list nav.sup ul {
    display: flex;
    list-style: none;
}

header .navbar .btn-list nav.sup ul li a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: #333333;
    margin: 0 20px;
}
  
header .navbar .btn-list nav.sup ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    background: #2A7358;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    height: 2px;
    width: 100%;
}
  
header .btn-list nav.sup ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Nav inferior */
header .btn-list nav.inf {
    position: fixed;
    bottom: 0;
    z-index: 2;
    margin: 10px;
}

header .btn-list nav.inf .wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

header .btn-list nav.inf .wrapper a {
    text-decoration: none;
}

header .btn-list nav.inf .wrapper .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin: 0 5px;
}

header .btn-list nav.inf .wrapper .icon .text {
    position: absolute;
    top: 0px;
    font-size: 12px;
    color: #333333;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #333;
    border-radius: 10px;
    padding: 6px 10px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

header .btn-list nav.inf .wrapper .icon:hover .text {
    top: -40px;
    opacity: 1;
    pointer-events: auto;
}

header .btn-list nav.inf .wrapper .icon .text::before {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 50%;
    background: #333333;
    height: 10px;
    width: 10px;
    transform: translateX(-50%) rotate(45deg);
}

header .btn-list nav.inf .wrapper .icon span {
    display: block;
    position: relative;
    z-index: 2;
    text-align: center;
    background: #ECAB9E;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

header .btn-list nav.inf .wrapper .icon span i {
    color: #FCF8E8;
    font-size: 25px;
    line-height: 40px;
}

header .btn-list nav.inf .wrapper .icon:hover span {
    background: #333;
    scale: 1.1;
}


/* MAIN - HOME */
main section.home {
    display: flex;
    background: linear-gradient(#6eccab 0%, #bde7b4 90%);
    justify-content: center;
    align-items: center;
}

main .home .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, .3);
    border-top: 2px solid rgba(209, 213, 219, 0.5);
    border-left: 2px solid rgba(209, 213, 219, 0.5);
    border-radius: 30px;
    margin: 80px 0;
    padding: 40px;
    gap: 3%;
    width: 80%;
}

main .home .content .title {
    display: grid;
    margin: 30px 0;
    width: 70%;
}

main .home .content .title p {
    font-size: 40px;
    color: #333;
    padding: 10px 0px;
}

main .home .content .title b {
    font-size: 45px;
    text-align: center;
    color: #FCF8E8;
    background: #ECAB9E;
    border-radius: 23px;
    padding: 5px;
    width: 90%;
}

main .home .content .img {
    width: 20%;
}

main .home .content .img img {
    max-width: 100%;
    border-radius: 17%;
}

main .home .content .text {
    padding: 20px 0;
    width: 80%;
}

main .home .content .text p {
    font-size: 20px;
    text-align: center;
    line-height: 150%;
    color: #333;
}


/* ABOUT*/
main section.about {
    display: flex;
    background: linear-gradient(#BDE7B4 0%, #FCF8E8 40%);
}

main .about .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
    width: 100%;
    gap: 5%;
}

main .about .content .title {
    width: 80%;
}

main .about .content .title p {
    font-size: 45px;
    color: #333;
    padding: 30px 0;
}

main .about .content .text {
    width: 40%;
}

main .about .content .text p {
    font-size: 18px;
    text-align: center;
    line-height: 150%;
    color: #333;
}

main .about .content .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 30%;
}

main .about .content .skills span {
    font-size: 30px;
    text-align: center;
    color: #FCF8E8;
    background: #ECAB9E;
    border-radius: 23px;
    padding: 5px;
    width: 80%;
}

main .about .content .skills .box {
    display: flex;
    align-content: center;
    justify-content: center;
    background: rgba(236, 171, 158, 0.5);
    border: 1px solid #ECAB9E;
    border-radius: 15%;
    padding: 15px;
    margin: 10px;
    width: 80px;
}

main .about .content .skills .box i {
    font-size: 40px;
    text-align: center;
    color: #333;
}

/* PROJECTS */
main section.projects {
    display: flex;
    background: linear-gradient(#FCF8E8 70%, #BDE7B4 100%);
}

main .projects .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
    width: 100%;
    gap: 5%;
}

main .projects .content .title {
    width: 80%;
}

main .projects .content .title p {
    font-size: 45px;
    color: #333;
    padding: 30px 0;
}

main .projects .content .box {
    display: flex;
    align-content: center;
    justify-content: center;
    background:rgba(255, 255, 255, .3);
    border-top: 2px solid rgba(209, 213, 219, 0.5);
    border-left: 2px solid rgba(209, 213, 219, 0.5);
    border-radius: 30px;
    padding: 20px;
    margin: 15px;
}

main .projects .content .box article {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background: rgba(189, 231, 180, 0.5);
    border: 1px solid #77b580;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
}

main .projects .content .box article div p {
    text-align: center;
    font-size: 18px;
    padding: 5px;
}

main .projects .content .box article div img {
    padding: 5px;
    max-width: 200px;
}

main .projects .content .text {
    padding: 30px 0;
    width: 60%;
}

main .projects .content .text p {
    font-size: 20px;
    text-align: center;
    line-height: 150%;
    color: #2A7358;
}

/* CONTACT */
main section.contact {
    display: flex;
    background: linear-gradient(#bde7b4 10%, #6eccab 100%);
}

main .contact .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
    width: 100%;
    gap: 5%;
}

main .contact .content .title {
    width: 80%;
}

main .contact .content .title p {
    font-size: 45px;
    color: #333;
    padding: 30px 0;
}

main .contact .content .box {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    background:rgba(255, 255, 255, .3);
    border-top: 2px solid rgba(209, 213, 219, 0.5);
    border-left: 2px solid rgba(209, 213, 219, 0.5);
    border-radius: 30px;
    /* padding: 30px; */
    margin: 40px;
    width: 60%;
}

main .contact .content .box .wrapper {
    display: flex;
    align-items: center;
    margin: 20px 0;
    width: 40%;
}

main .contact .content .box .wrapper i {
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    color: #FCF8E8;
    background: #ECAB9E;
    border-radius: 50%;
    margin-right: 5px;
    width: 40px;
}

main .contact .content .box .wrapper a {
    text-decoration: none;
}

main .contact .content .box .wrapper a p {
    font-size: 16px;
    color: #333;
}