/* Configuración para todos los elementos */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Capriola', sans-serif;
}

/* Header - NavBar */
header div.navbar {
    display: flex;
    position: relative;
}

header .navbar button.logo {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    align-items: center;
    justify-content: flex-start;
    transition-duration: .3s;
    border: none;
    border-radius: 50%;
    background: rgba(127, 183, 126, 0.8);
    box-shadow:  0px 0px 10px #333;
    margin: 10px;
    width: 50px;
    height: 50px;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

header .navbar .logo .sign {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #FCF8E8;
    width: 100%;
}

header .navbar .logo .text {
    position: absolute;
    right: 0%;
    opacity: 0;
    font-size: 18px;
    color: #333;
    width: 0%;
}

header .navbar .logo:hover {
    border-radius: 25px;
    width: 150px;
}
  
header .navbar .logo:hover .sign {
    padding-left: 10px;
    width: 30%;
}

header .navbar .logo:hover .text {
    opacity: 1;
    padding-right: 10px;
    transition: 0.8s;
    width: 70%;
}

/* Nav central */
header .navbar div.btn-list {
    display: flex;
    justify-content: center;
    width: 100%;
}

header .navbar .btn-list nav.sup {
    display: flex;
    position: fixed;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px 10px 50px 10px;
    margin: 10px;
    width: 450px;
    height: 50px;
}

header .navbar .btn-list nav.sup ul {
    display: flex;
    list-style: none;
}

header .navbar .btn-list nav.sup ul li a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: #333333;
    margin: 0 20px;
}
  
header .navbar .btn-list nav.sup ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    background: #2A7358;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    height: 2px;
    width: 100%;
}
  
header .btn-list nav.sup ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Nav inferior */
header .btn-list nav.inf {
    position: fixed;
    bottom: 0;
    z-index: 2;
    margin: 10px;
}

header .btn-list nav.inf .wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

header .btn-list nav.inf .wrapper a {
    text-decoration: none;
}

header .btn-list nav.inf .wrapper .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin: 0 5px;
}

header .btn-list nav.inf .wrapper .icon .text {
    position: absolute;
    top: 0px;
    font-size: 12px;
    color: #333333;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #333;
    border-radius: 10px;
    padding: 6px 10px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

header .btn-list nav.inf .wrapper .icon:hover .text {
    top: -40px;
    opacity: 1;
    pointer-events: auto;
}

header .btn-list nav.inf .wrapper .icon .text::before {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 50%;
    background: #333333;
    height: 10px;
    width: 10px;
    transform: translateX(-50%) rotate(45deg);
}

header .btn-list nav.inf .wrapper .icon span {
    display: block;
    position: relative;
    z-index: 2;
    text-align: center;
    background: #ECAB9E;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

header .btn-list nav.inf .wrapper .icon span i {
    color: #FCF8E8;
    font-size: 25px;
    line-height: 40px;
}

header .btn-list nav.inf .wrapper .icon:hover span {
    background: #333;
}


/* MAIN */
main section.home {
    display: flex;
    background: linear-gradient(#51ab8b 0%, #bde7b4 90%);
    height: 100vh;
}

main .home .text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 70px;
    width: 100%;
    gap: 3%;
}

main .home .text .title {
    display: grid;
    width: 60%;
}

main .home .text .title p {
    font-size: 40px;
    color: #333;
}

main .home .text .title b {
    font-size: 45px;
    color: #FCF8E8;
    background: #77b580;
    border-radius: 23px;
    width: 100%;
    text-align: center;
}

main .home .text .img {
    width: 30%;
}

main .home .text .img img {
    max-width: 100%;
    border-radius: 17%;
}

main .home .text .sub {
    font-size: 22px;
    text-align: center;
    color: #333;
    width: 80%;
}

/* ABOUT*/
main section.about {
    display: grid;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    background: linear-gradient(#BDE7B4 0%, #FCF8E8 30%);
    height: 100vh;
}

main .about .text1 {
    position: absolute;
    color: #333333;
    top: 15%;
    left: 5%;
}

main .about .sub {
    position: absolute;
    top: 40%;
    left: 5%;
    margin-right: 30%;
}

main .about .sub p {
    font-size: 20px;
    text-align: center;
    line-height: 150%;
    color: #2A7358;
}


