<!-- HEAD  -->
<%- include('partials/head') %>
    <title>Abi Barroso</title>
    </head>

    <body>
        <!-- HEADER -->
        <%- include('partials/header') %>
            <main>

                <section class="home">
                    <div class="content">
                        <div class="title">
                            <p>Hi there!</p>
                            <p>I'm Abigail Barroso</p>
                            <b>Full Stack Js Developer</b>
                        </div>

                        <div class="img">
                            <img src="/img/linkedin.png" alt="">
                        </div>

                        <div class="text">
                            <p>As a creative developer, I’m passionate about creating interfaces that are fun, intuitive,
                            and user-focused.
                            </p>
                        </div>
                    </div>
                </section>

                <section class="about">
                    <div class="content">
                        <div class="title">
                            <p>How I am?</p>
                        </div>

                        <div class="text">
                            <p>
                                I'm a web developer from Buenos Aires, Argentina specialized in front-end development
                                and my
                                main interest is UX/UI design.
                                <br><br>
                                I’m a detail-oriented and highly creative person. I love bringing ideas to life through
                                impactful and functional designs.
                                Always looking for new challenges that allow me to use my imagination and skills to
                                create
                                unique and attractive designs.
                                <br><br>
                                Currently looking for job opportunities where I can contribute, learn and grow. If you
                                have
                                a good opportunity that matches my skills and profile, don't hesitate to send a message!
                            </p>
                        </div>

                        <div class="skills">
                            <span>Skills</span>

                            <div class="box">
                                <i class="fa-brands fa-js"></i>
                            </div>

                            <div class="box">
                                <i class="fa-brands fa-node"></i>
                            </div>

                            <div class="box">
                                <i class="fa-brands fa-html5"></i>
                            </div>

                            <div class="box">
                                <i class="fa-brands fa-css3-alt"></i>
                            </div>

                            <div class="box">
                                <i class="fa-brands fa-react"></i>
                            </div>

                            <div class="box">
                                <i class="fa-solid fa-database"></i>
                            </div>

                            <div class="box">
                                <i class="fa-brands fa-git-alt"></i>
                            </div>

                            <div class="box">
                                <i class="fa-brands fa-linux"></i>
                            </div>

                            <div class="box">
                                <i class="fa-brands fa-figma"></i>
                            </div>

                            <div class="box">
                                <i class="fa-solid fa-c"></i>
                            </div>

                            <div class="box">
                                <i class="fa-solid fa-wand-magic-sparkles"></i>
                            </div>

                            <div class="box">
                                <i class="fa-solid fa-bezier-curve"></i>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="projects">
                    <div class="content">
                        <div class="title">
                            <p>My projects</p>
                        </div>

                        <div class="box">
                            <article>
                                <div>
                                    <p>proyecto</p>
                                    <img src="/img/bg-about.png" alt="">
                                </div>
                            </article>

                            <article>
                                <div>
                                    <p>proyecto</p>
                                    <img src="/img/bg-about.png" alt="">
                                </div>
                            </article>

                            <article>
                                <div>
                                    <p>proyecto</p>
                                    <img src="/img/bg-about.png" alt="">
                                </div>
                            </article>
                        </div>

                        <div class="text">
                            <p>I'm glad to collaborate on innovative projects and bring ideas to life!
                            <br>  
                            Together, we can create a memorable and successful digital experience. 
                            </p>
                        </div>
                    </div>

                </section>

                <section class="contact">
                    <div class="content">
                        <div class="title">
                            <p>Contact me!</p>
                        </div>
                        
                        <div class="box">
                            <div class="wrapper">
                                <i class="fa-brands fa-linkedin"></i>
                                <a href="https://www.linkedin.com/in/abigail-barroso/">
                                    <p>LinkedIn</p>
                                </a>
                            </div>

                            <div class="wrapper">
                                <i class="fa-brands fa-github"></i>
                                <a href="https://github.com/abi-sabm">
                                    <p>GitHub</p>
                                </a>
                            </div>

                            <div class="wrapper">
                                <i class="fa-solid fa-envelope"></i>
                                <a href="mailto:abigail.sabm@gmail.com">
                                    <p>abigail.sabm@gmail.com</p>
                                </a>
                            </div>
                            
                            <div class="wrapper">
                                <i class="fa-solid fa-square-phone"></i>
                                <a href="">
                                    <p>+54 11 30917647</p>
                                </a>
                            </div>

                            <div class="wrapper">
                                <i class="fa-solid fa-file-arrow-down"></i>
                                <a href="https://drive.google.com/file/d/1BYOCU-gxfGqIQQH7d9EChR2g1UwISMut/view?usp=sharing">
                                    <p>Download my CV</p>
                                </a>
                            </div>

                            <div class="wrapper">
                                <i class="fa-solid fa-earth-americas"></i>
                                <a href="https://goo.gl/maps/r7V8PtwcrVRuZXEr5">
                                    <p>Buenos Aires, Argentina</p>
                                </a>
                            </div>

                        </div>
                    </div>

                </section>



            </main>
    </body>

    <!-- FOOTER 
    < %- include('partials/footer') %>-->

    </html>