<!-- HEAD  -->
<%- include('partials/head') %>
    <title>Abi Barroso</title>
    </head>

    <body>
        <!-- HEADER -->
        <%- include('partials/header') %>
        <main>

            <section class="text">
                <div class="text1">Hi there!</div>
                <div class="text2">I'm Abi,</div>
                <div class="text3">a JavaScript Developer</div>
                
                <div class="sub">
                    As a creative developer, I’m passionate about creating interfaces that are fun, intuitive, and user-focused.
                </div>

            </section>
            
            <section class="about">
                <div class="text1">I'm Abigail Barroso</div>

                <div class="sub">
                    <p>
                    A web developer from Buenos Aires, Argentina specialized in front-end development and my main interest is UX/UI design.
                    <br><br>
                    I’m a detail-oriented and highly creative person. I love bringing ideas to life through impactful and functional designs. 
                    Always looking for new challenges that allow me to use my imagination and skills to create unique and attractive designs.
                    <br><br>
                    Currently looking for job opportunities where I can contribute, learn and grow. If you have a good opportunity that matches my skills and profile, don't hesitate to send a message!
                </p>
                </div>

                <div class="img">
                    <img src="/img/linkedin.png" alt="">
                </div>

            </section>

            <section class="skills">
                <div class="text1">I'm Abigail Barroso</div>

                <div class="sub">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab, ipsa, fugit esse maxime necessitatibus, nobis aliquam cumque minus neque dolore deserunt molestiae similique quod repudiandae. Quas praesentium voluptatum fuga est!</p>

                
                    <div class="box">
                        <div class="icon">
                            <div class="text">JavaScript</div>
                            <span>
                                <i class="fa-brands fa-js"></i>
                            </span>
                        </div>
                        <div class="icon">
                            <div class="text">NodeJS</div>
                            <span>
                                <i class="fa-brands fa-node"></i>
                            </span>
                        </div>
                        <div class="icon">
                            <div class="text">Github</div>
                            <span>
                                <i class="fa-brands fa-github"></i>
                            </span>
                        </div>
                        <div class="icon">
                            <div class="text">Github</div>
                            <span>
                                <i class="fa-brands fa-github"></i>
                            </span>
                        </div>
                        <div class="icon">
                            <div class="text">Github</div>
                            <span>
                                <i class="fa-brands fa-github"></i>
                            </span>
                        </div>

                    </div>

                </div>
            </section>



        </main>
    </body>

    <!-- FOOTER 
    < %- include('partials/footer') %>-->

</html>